{% extends "app/baseadmin.html" %}
{%block title%}LHDINDIA | LAZEEZ HAKEEM{%endblock title%}
{%block content%}
	<style type="text/css">
		.additem {
			padding-left: 22px;
		}
		.control-field {
			padding-left: 0px;
			padding-right: 0px;
		}
		.btn {
			margin-top: 25px
		}
	</style>
	<script>
		function doAction(offer_id) {
			$.ajax({
				url : "/offermenuajaxreload/",
				data : { item_category: $('#item_category').val(), item_type: $('#item_type').val(), item_name: $('#item_name').val(), item_subname: $('#item_subname').val(), offer_id: offer_id},
	        	success : function(data){
	        		$(".additemform").html(data);
	        	}
	        });
		};
	</script>
	<div class = "navbar navbar-inverse navbar-static-top" style="background-color:#10462f;">
		{% include "app/adminnavbar.html" %}
	</div>
	<div class= "container">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <span class = "glyphicon glyphicon-align-justify"></span>&nbsp;&nbsp;&nbsp;Offer Menu
		  </div>
		</div>
		<div class = "jumbotron">
			<div>Offer Name: &nbsp;&nbsp;&nbsp; {{offer.offer_name}}</div></br>
			<div class="row additemform">
				<form method = "post" action = "/myadmin/createofferitem/{{offer.id}}/" enctype="multipart/form-data">
				  	{% csrf_token %}
				  	<div class = "form-group col-xs-2 col-md-2 control-field" style="padding:0px;">
						<label for="item_category" class="control-label additem">Category: </label>
						<div class="col-sm-10" style="padding:0px;">
					        <select class="form-control" id="item_category" name="item_category" onchange="doAction({{offer.id}});">
					       		<option disabled selected>Please Select</option>
					        	{%for category in item_categories%}
								<option value="{{category.item_category}}">{{category.item_category}}</option>
								{%endfor%}
				        	</select>
					    </div>
					</div>
					<div class = "form-group col-xs-1 col-md-1 control-field" style="display:none;">
						<label for="item_type" class="control-label additem">Type: </label>
						<div class="col-sm-10">
					        <select class="form-control" id="item_type" name="item_type" onchange="doAction({{offer.id}});">
					        	<option disabled selected>Please Select</option>
								<option value="VEG">Veg</option>
								<option value="Non-Veg">Non-Veg</option>
				        	</select>
					    </div>
					</div>
					<div class = "form-group col-xs-2 col-md-2 control-field" style="padding:0px;">
						<label for="item_name" class="control-label additem">Item Name: </label>
						<div class="col-sm-10" style="padding:0px;">
					        <select class="form-control" id="item_name" name = "item_name" onchange="doAction({{offer.id}});">
					        	<option disabled selected>Please Select</option>
					        	{% for item in items %}
									<option value="{{item.item_name}}">{{item.item_name}}</option>
								{%endfor%}
				        	</select>
					    </div>
					</div>
					<div class = "form-group col-xs-2 col-md-2 control-field" style="padding:0px;">
						<label for="item_name" class="control-label additem">Item SubName: </label>
						<div class="col-sm-10" style="padding:0px;">
					        <select class="form-control" id="item_subname" name = "item_subname" onchange="doAction({{offer.id}});">
					        	<option disabled selected>Please Select</option>
					        	{% for item in items %}
									<option value="{{item.item_subname}}">{{item.item_name}}-{{item.item_subname}}</option>
								{%endfor%}
				        	</select>
					    </div>
					</div>
					<div class = "form-group col-xs-2 col-md-2 control-field" style="padding:0px;">
						<label for="price" class="control-label additem">Current price: </label>
						<div class="col-sm-10" style="padding:0px;">
					        <input type="Number" class="form-control" id="price" placeholder="" name="current_price">
					    </div>
					</div>
					<div class = "form-group col-xs-2 col-md-2 control-field" style="padding:0px;">
						<label for="price" class="control-label additem">Discount %: </label>
						<div class="col-sm-10" style="padding:0px;">
					        <input type="Number" class="form-control" id="discount_percent" placeholder="" name="discount_percent">
					    </div>
					</div>
					<div class = "form-group col-xs-2 col-md-2 control-field" style="padding:0px;">
						<label for="daytime" class="control-label additem">DayTime: </label>
						<div class="col-sm-10" style="padding:0px;">
					        <select class="form-control" id="daytime" name="daytime">
					       		<option disabled selected>Please Select</option>
					       		<option value="Thursday_Lunch">Thursday_Lunch</option>
								<option value="Thursday_Dinner">Thursday_Dinner</option>
								<option value="Friday_Lunch">Friday_Lunch</option>
								<option value="Friday_Dinner">Friday_Dinner</option>
								<option value="Saturday_Lunch">Saturday_Lunch</option>
								<option value="Saturday_Dinner">Saturday_Dinner</option>
								<option value="Sunday_Lunch">Sunday_Lunch</option>
								<option value="Sunday_Dinner">Sunday_Dinner</option>
								<option value="Monday_Lunch">Monday_Lunch</option>
								<option value="Monday_Dinner">Monday_Dinner</option>
								<option value="Tuesday_Lunch">Tuesday_Lunch</option>
								<option value="Tuesday_Dinner">Tuesday_Dinner</option>
								<option value="Wednesday_Lunch">Wednesday_Lunch</option>
								<option value="Wednesday_Dinner">Wednesday_Dinner</option>
				        	</select>
					    </div>
					</div>
					<div class = "form-group col-xs-2 col-md-2 control-field" style="padding:0px;">
						<label for="date" class="control-label additem">Date: </label>
						<div class="col-sm-10" style="padding:0px;">
					        <input type="date" class="form-control" id="date" placeholder="" name="date">
					    </div>
					</div>			
				  	<button type="submit" class="btn btn-default col-xs-1 col-md-1">Add</button>
				</form>
			</div></br>

			<table class = "table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Day & Time</th>
						<th>Date</th>
						<th>Category</th>
						<th>Item Name</th>
						<th>Current Price</th>
						<th>Discount Percentage</th>
						<th>Discount Price</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					{%for item in offer_items%}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{item.daytime}}</td>
							<td>{{item.date}}</td>
							<td>{{item.item.item_category}}</td>
							<td>{{item.item.item_name}}-{{item.item.item_subname}}</td>
							<td>{{item.item.price}}</td>
							<td>{{item.discount_percent}} %</td>
							<td>{{item.get_discount_price}}</td>
							<td><a href="/myadmin/deleteofferitem/{{item.id}}/" class="glyphicon glyphicon-remove"></a></td>
						</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>
	</div>
{%endblock content%}