{% extends "app/customerend_base.html" %}
{% load harishtags %}
{%load staticfiles%}
{%block title%}LHDINDIA | LAZEEZ HAKEEM{%endblock title%}
{%block mainbody%}

<div class="container" style="min-height:500px;">
	<div class="row" style="padding-top:40px;">
		<div class="col-sm-4"><img src="/static/app/img/tick.png" width="180" height="180"></div>
		<div class="col-sm-6">
			<h2><b> Order Confirmation </b></h2>
			<br>
			<h3>Order No. : {{request.session.order_number}}
			<h4>Your order with lhdindia has been successfully placed.</h4>
			<br>
			<h4>You will be redirected to our homepage in 5 seconds...</h4>
			<br>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<marquee direction=right scrollamount=20>
		<img src="/static/app/img/delivery-boy.gif">
	</marquee>
</div>

<script>
  window.setTimeout(function(){
    window.location.href = "/";
  }, 5000);
</script>

{% endblock %}