{% extends "app/customerend_base.html" %}
{%load staticfiles%}
{%block title%}LHDINDIA | LAZEEZ HAKEEM{%endblock title%}
{%block mainbody%}

<div class="container" style="min-height:490px;">
	<h3 align="center"><b>WE ARE HERE FOR YOU...</b></h3><br>
	<div class="text-center">
		<img src="/static/app/img/logomain.png" width="120" height="120"><br><br>
	</div>
	<div class="row text-center">
		<div class="col-sm-4">
			<h4><b>Get Immediate Help:</b></h4>
			<p style="font-size:1.3em;">To inquire about our services, place an order on call, inquire about our bulk ordering and catering services and get assistance with your orders on lhdindia, call on <b>0755 6222227</b>.</p>
		</div>
		<div class="col-sm-4">
			<h4><b>For Complaints/Suggestions:</b></h4>
			<p style="font-size:1.3em;">For complaints and suggestions regarding food quality and service or delivery experience, call on <b>+91 9977666541</b>.</p>
		</div>
		<div class="col-sm-4">
			<h4><b>Get in touch online:</b></h4>
			<p style="font-size:1.3em;">You can also drop us an email on hakeemhotel@yahoo.co.in or send us a message on our<a href="https://www.facebook.com/lazeezhakeem/" target="_blank"> Facebook Page</a>. You can expect a prompt reply in both the cases.</p>
		</div>
	</div>
</div>


{%endblock mainbody%}