{% extends "app/laundry_customerendbase.html" %}
{%block title%}LHDINDIA LAUNDRY | LAUNDRY SERVICES IN BHOPAL | ONLINE LAUNDRY IN BHOPAL | GET CLOTHES WASHED ONLINE{%endblock title%}

{% block content %}

<div class="parallax-container valign-wrapper" style="height:150px;">
  	<div class="parallax"><img src="https://s27.postimg.org/9omhq5r5f/black_and_white_clean_housework_launderette.jpg"></div>
  	<div class="valign">
  		<h4 style="padding-left:10px;color:#ffffff;"><b>PRICING</b></h4>
  		<h6 style="font-family: 'Raleway', sans-serif;padding-left:12px;"><a style="color:#000000;" href="/laundry/">Home</a> / Pricing</h6>
  	</div>
</div>

<div class="container" style="margin-top:20px;">
	<div class="row">
		<h4 class="center-align" style="font-family: 'Raleway', sans-serif;color:#03a9f4;"><b>OUR PRICING</b></h4>
		<p class="center-align" style="font-family: 'Raleway', sans-serif;">We would like to match others' prices, but for that we would have to raise ours!</p>
	</div>
	<div class="row">
		{% for laundryplan in laundryplans %}
		<div class="col l4 s12 center-align">
			<h5 style="font-family: 'Raleway', sans-serif;background:#ffffff;color:#000000;padding:10px;">
			<b>{{laundryplan.plan_name}}</b></h5>
			{% if laundryplan.pricing_per_kg != "" %}
			<h5 style="font-family: 'Raleway', sans-serif;background:#03a9f4;color:#ffffff;padding:20px;padding-top:0px;">
			<span class="fa fa-caret-down" aria-hidden="true"></span><br>
			<b><span class="fa fa-rupee" aria-hidden="true"></span>&nbsp;{{laundryplan.pricing_per_kg}}</b></h5>
			{% endif %}
			{% if laundryplan.pricing_as_whole != "" %}
			<h5 style="font-family: 'Raleway', sans-serif;background:#03a9f4;color:#ffffff;padding:20px;padding-top:0px;">
			<span class="fa fa-caret-down" aria-hidden="true"></span><br>
			<b><span class="fa fa-rupee" aria-hidden="true"></span>&nbsp;{{laundryplan.pricing_as_whole}}</b></h5>
			{% endif %}
			<table class="centered bordered">
				<tbody style="font-family: 'Raleway', sans-serif;">
		          <tr>
		            <td>{{laundryplan.lot_size}}</td>
		          </tr>
		          <tr>
		            <td>{{laundryplan.plan_name}}</td>
		          </tr>
		          <tr>
		            <td>Free Pickup</td>
		          </tr>
		          <tr>
		            <td>Free Delivery</td>
		          </tr>
		        </tbody>
		    </table>
		    <button class="waves-effect waves-teal light-blue btn-flat" style="width:100%;color:#ffffff;font-family: 'Raleway', sans-serif;"><b>Order Now</b></button>
		</div>
		{% endfor %}
	</div>
	<div class="row" style="margin-top:50px;">
		<h5 class="center-align" style="font-family: 'Raleway', sans-serif;color:#03a9f4;"><b>PER UNIT PRICING</b></h5>
		<p class="center-align" style="font-family: 'Raleway', sans-serif;">Don't want to go for bulk pricing? Find here what suits you best (Express delivery available on selected items).</p>
		<table class="centered bordered striped">
	        <thead>
	          <tr>
	              <th data-field="id">Item Name</th>
	              <th data-field="name">Steam Iron Price</th>
	              <th data-field="price">Wash & Fold Price</th>
	              <th data-field="price">Wash & Iron Price</th>
	              <th data-field="price">Dry Clean Price</th>
	              <th data-field="price">Express Available?</th>
	          </tr>
	        </thead>

	        <tbody>
	          {% for peritemrate in peritemrates %}
	          <tr>
	            <td>{{peritemrate.item_name}}</td>
	            <td>{{peritemrate.steam_iron_price}}</td>
	            <td>{{peritemrate.wash_fold_price}}</td>
	            <td>{{peritemrate.wash_iron_price}}</td>
	            <td>{{peritemrate.dryclean_price}}</td>
	            {% if peritemrate.is_express %}
	            <td><span style="color:green;" class="fa fa-thumbs-o-up fa-2x"></span> </td>
	            {% else %}
	            <td><span class="fa fa-thumbs-o-down fa-2x"></span> </td>
	            {% endif %}
	          </tr>
	          {% endfor %}
	        </tbody>
	      </table>
	</div>
</div>

{% endblock content %}