{% extends "app/baseadmin.html" %}
{%block title%}LHDINDIA | LAZEEZ HAKEEM{%endblock title%}
{%block content%}
	<div class = "navbar navbar-inverse navbar-static-top" style="background-color: #10452f;">
		{% include "app/adminnavbar.html" %}
	</div>
	<div class= "container">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <span class = "glyphicon glyphicon-align-justify"></span>&nbsp;&nbsp;&nbsp;Items
		  </div>
		</div>
		<div class = "jumbotron">
			{% if 'nosuchitem' in request.session %}
			<h6>No Item with entered Item Code</h6>
			{% endif %}
			<div class="row">
				<form method = "post" action = "/myadmin/manage_images_description/" enctype="multipart/form-data">
				  	{% csrf_token %}
				  	<div class = "form-group col-xs-3 col-md-3 control-field">
						<div class="col-sm-12">
					        <input type="text" placeholder="item code" id="item_code" name="item_code" class="form-control" required>
					    </div>
					</div>
					<div class = "form-group col-xs-3 col-md-3 control-field">
						<div class="col-sm-12">
					        <input type="text" placeholder="image" id="image" name="image" class="form-control" required>
					    </div>
					</div>
					<div class = "form-group col-xs-3 col-md-3 control-field">
						<div class="col-sm-12">
					        <input type="text" placeholder="description" id="description" name="description" class="form-control" required>
					    </div>
					</div>				
				  	<button type="submit" class="btn btn-default col-xs-3 col-md-3">Add</button>
				</form>
			</div>
			{% if 'yesupdated' in request.session %}
			<h5><b>UPDATED!</b></h5>
			{% endif %}
		</div>
	</div>
{%endblock content%}