{% extends "app/baseadmin.html" %}
{%block title%}LHDINDIA | LAZEEZ HAKEEM
{%endblock title%}
{%block content%}
	<div class = "navbar navbar-inverse navbar-static-top" style="background-color:#10462f;">
		{% include "app/adminnavbar.html" %}
	</div>
	<div class = "container">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <span class = "glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;Single Day collection Report
		  </div>
		</div>
		<style>
			.whutwhut{
				-webkit-appearance: menulist-button;
			   	height: 42px;
			   	width: 150px;
			}
			input[type="date"]::-webkit-inner-spin-button{
			    display: none;
			}
		</style>
		<div class = "jumbotron">
			<form class = "form-inline" method = "post" action = "/searchmenusell/">
				{%csrf_token%}
				<div class = "form-group">
					<input type = "date" class = "form-control" style = "width:120px;" name = "sdate" placeholder = "start-date"/>
				<div class = "form-group">
					<select name = "orderstatus" class = "whutwhut">
						<option value = "all" default>all status</option>
						<option value = "accepted">accepted</option>
						<option value = "delivered">delivered</option>
						<option value = "dispatched">dispatched</option>
						<option value = "assigned to branch">assigned to branch</option>
						<option value = "just placed">just placed</option>
					</select>
				</div>
				<div class = "form-group">
					<input type = "submit" value = "search" class = "btn btn-danger"/>
				</div>
			</form>
		</div>
		<div class = "">
			<div class="table-responsive" style="margin-top:20px;">
			  <table class="table table-striped" style="width:50%;" align="center">
			    <thead>
			      <tr>
			        <th>Item Name</th>
			        <th>Count</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% for key,value in ordered_items.items %}
			      <tr>
			        <td>{{key}}</td>
			        <td>{{value}}</td>
			      </tr>
			    {% endfor %}
			    </tbody>
			  </table>
			</div>
			<!-- {% if ords%}
			<table class = "table table-bordered">
				<tr>
					<th>s.no</th>
					<th>order no</th>
					<th>total</th>
					<th>discount</th>
					<th>wallet dis.</th>
					<th>vat</th>
					<th>s.tax</th>
					<th>s.charge</th>
					<th>del.charge</th>
					<th>grand total</th>
				</tr>
			{%for ord in ords%}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="/myadmin/orderdetail/{{ord.order_number}}/">{{ord.order_number}}</a></td>
					<td>{{ord.subtotal}}</td>
					<td>{{ord.discount_rs}}</td>
					<td>{{ord.e_wallet}}</td>
					<td>{{ord.vat_rs}}</td>
					<td>{{ord.service_tax_rs}}</td>
					<td>{{ord.service_charge_rs}}</td>
					<td>{{ord.delivery_charge}}</td>
					<td>{{ord.grand_total}}</td>
				</tr>
			{%endfor%}
				<tr>	
					<th colspan="2">TOTAL:</th>
					<th>{{total.tot}}</th>
					<th>{{total.disc}}</th>
					<th>{{total.ewallet}}</th>
					<th>{{total.vat}}</th>
					<th>{{total.ser_tax}}</th>
					<th>{{total.ser_charge}}</th>
					<th>{{total.del_charge}}</th>
					<th>{{total.gtot}}</th>
				</tr>

			</table>
			{%endif%} -->
		</div>
	</div>

{%endblock content%}