{% extends "app/customerend_base.html" %}
{%load staticfiles%}
{% load harishtags %}
{%block title%}LHDINDIA | LAZEEZ HAKEEM{%endblock title%}
{%block mainbody%}
<div id="fb-root"></div>
<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=417114418480750";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<style>
	.panel-default>.panel-heading+.panel-collapse>.panel-body {
	    border-top-color: #ecf0f1;
	    background: #d2e28b;
	}
	.list-group-item:nth-child(n) {
	    margin-bottom: 0;
	    border-bottom-right-radius: 4px;
	    border-bottom-left-radius: 4px;
	    background: #d2e28b;
	}
	.panel-default>.panel-heading {
	    color: red;
	    background-color: #d2e28b;
	    border-color: #ecf0f1;
	}
	.list-group-item:nth-child(n):hover {
	    margin-bottom: 0;
	    border-bottom-right-radius: 4px;
	    border-bottom-left-radius: 4px;
	    background: #d2e28b;
	}
</style>

	<!-- start container -->
		<div class="container" style="width:100%;">
			<div class="row mt30">
				<!-- Side-panel begin -->
				<div class="col-md-3 col-sm-3 col-xs-3">
					<div class="side-panel" style="background:transparent;">
						<div class = "text-center" style="padding: 10px;border-radius:10px;min-height:500px;">
							<h4><b>{{request.session.offer_day|title}}-{{request.session.offer_time|title}} Menu</b></h4>
							<p>({{offer.offer_name}})</p>
							<hr style="width:100%;">
							<div class="list-group text-left">

								<div class="panel-group" id="accordion">
									{%for category, subcategories in category_dict.items%}
										<div class="panel panel-default">
									      <div class="panel-heading">
									        <h4 class="panel-title">
									          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{category.id}}" style="font-size:18px;">
									          	<b>{{category.item_category|title}}</b>
									          </a>
									        </h4>
									      </div>
									      <div id="collapse{{category.id}}" class="panel-collapse collapse {%if forloop.first%}in{%endif%}">
									        <div class="panel-body">
								        		{%for subcategory in subcategories%}
								        			<a href="#itemcat{{category.id}}{{subcategory.id}}" class="list-group-item" role="tab" data-toggle="tab">
														<div class="row">
															<div class="col-sm-0"><img src = "" style = "height:50px;width:50px;display:none;" /></div>
															<div class="col-sm-12">
																<h5 class="list-group-item-heading" style="font-size:18px;">
																	{{subcategory.subcategory_name|title}}
																</h5>
															</div>
														</div>
													</a>
								        		{%endfor%}
									        </div>
									      </div>
									    </div>
									{%endfor%}
								</div>
								
							</div>
						</div>
					</div>
					<!-- end side-panel -->
				</div>
				<!--end .col-md-3 -->
				<div class="col-sm-6" style="padding:0px;">
					<div>
						<div class="all-menu-details">
							<div class="col-sm-12 tab-content" style="padding:0px;">
								{% for key, value in items.items %}
								{% for key1, value1 in value.items%}
									<div class="tab-pane active" id = "itemcat{{key.id}}{{key1.id}}" role="tabpanel">
										<h5>{{key1|title}}</h5>
										<div class="item-list">
											{%for key2,value2 in value1.items%}
											<div class="list-image">
												<img src = "{{value2.0.item.image}}" alt="">
												<!-- <img src = "/static/app/img/logomain.png" alt=""> -->
											</div>
											<div class="all-details">
												<div class="visible-option">
													<div class="details">
														{% if value2.0.item.item_type == 'VEG' %}
															<div class="col-sm-2">
																<img src="/static/app/img/vegonly.png" width="25" height="25" style="margin-top:15px;">
															</div>
															<div class="col-sm-10">
																<h4 style="color:green;">
																	<b><h6 style="padding-top:0px;">{{value2.0.item.item_name|title}}</h6></b>
																</h4>
															</div>
														{% else %}
															<div class="col-sm-2">
																<img src="/static/app/img/nonvegonly.png" width="25" height="25" style="margin-top:15px;">
															</div>
															<div class="col-sm-10">
																<h4 style="color:red;"><b><h6 style="padding-top:0px;">{{value2.0.item.item_name|title}}</h6></b></h4>
															</div>
														{% endif %}
														<p>{{value2.0.item.item_description}}</p><br>
													</div>
													<div class="price-option fl">
														<h4 id="minprice{{key2}}"></h4>
														<button class="toggle">Option</button>
														<script type="text/javascript">
															var price = {{value2.0.get_discount_price}};
															{% for item in value2 %}
																if (price > {{item.get_discount_price}}) {
																	price = {{item.get_discount_price}};
																}
															{% endfor %}
															document.getElementById("minprice{{key2}}").innerHTML="₹ " + price;
														</script>
													</div><!-- end .price-option-->
													
												</div> <!-- end .vsible-option -->
								
												<div class="dropdown-option clearfix">
													<div class="dropdown-details">
														{%for allsame in value2|dictsort:"item.price"%}	
															<div class="row">
																<div class="col-sm-3">
																	<label for="{{allsame.item_subname}}">{{allsame.item.item_subname}}    (<strike>₹ {{allsame.item.price}}</strike><br> ₹ {{allsame.get_discount_price}})</label>
																</div>
																<div class="col-sm-3">
																	<label for="{{allsame.item_subname}}">Serves:{{allsame.item.serves}}</label>
																</div>
																<div class="col-sm-3">
																	<label for="{{allsame.item_subname}}">Code:{{allsame.item.item_code}}</label>
																</div>
																<div class="col-sm-3">
																	{%if 'user' in request.session or 'partner' in request.session %}
																	<button class="btn btn-sm plusminus" onclick = "addcart('{{allsame.item.item_code}}','{{allsame.item.item_subname}}')">
																	<span class = "glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;<b>Add</b></button>
																	{% else %}
																	<button class="btn btn-sm" href = "#" data-toggle = "modal" data-target = "#userlogin">
																	<span class = "glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;<b>Add</b></button>
																	{% endif %}
																</div>
															</div><hr>
														{%endfor%}			
													</div><!--end .dropdown-details-->
												</div><!--end .dropdown-option-->
											</div><!-- end .all-details -->
											{%endfor%}<br>
										</div><!-- end .item-list -->
									</div>
								{% endfor %}
								{% endfor %}
							</div>
						</div> 
					</div><!-- end .tab-content -->
				</div>
				<!--end main-grid layout-->
				<div class="col-sm-3">
					<div class="my-check-right mycart" style="min-height:500px;background:transparent;">
						{% include "app/cartincheckout.html" %}
					</div>
					<!-- end .chekout class -->
				</div>
			</div>
			<!-- end .row -->
		</div>
	<!--end .container -->


<script type="text/javascript">
	function couponapply(){
		var coupon_code = document.getElementById('coupon-code'),
		coupon_code = coupon_code.value;
		$.post("/applycoupon/", {"coupon_code": coupon_code}, function(data){

		}).done(function(){
			$.get('/checkoutcartajaxreload/',function(data){
				$(".mycart").html(data);
			})
			// $.get('/infoajaxreload/',function(data){
			// 	$(".infobox").html(data);
			// })
		});
	}
	function ewalletused(){
		if (document.getElementById('wallet-checkbox').checked){
			$.post("/applyewallet/", function(data){

			}).done(function(){
				$.get('/checkoutcartajaxreload/',function(data){
				$(".mycart").html(data);
				})
				// $.get('/infoajaxreload/',function(data){
				// 	$(".infobox").html(data);
				// })	
			});
		}
		else {
			alert("please check Checkbox First!")
		}
	}

	// console.log('{{request.session.cart}}')
	// var thispage = "{{request.path}}";

	function addcart(item_code,item_subname){
			$.post("/additemtocart/",{"item_code":item_code,"item_subname":item_subname},function(data){
		
			}).done(function(){
				$.get('/checkoutcartajaxreload/',function(data){
					$(".mycart").html(data);
				})
				/*$.get('/infoajaxreload/',function(data){
					$(".infobox").html(data);
				})*/
			}); 
	}

	function subtractcart(item_code,item_subname){
		$.post("/subtractitemtocart/",{"item_code":item_code,"item_subname":item_subname},function(data){
			$('#cartloadingmessage').show();
		}).done(function(){
			$.get('/checkoutcartajaxreload/',function(data){
				$(".mycart").html(data);
			})
			/*$.get('/infoajaxreload/',function(data){
				$(".infobox").html(data);
			})*/
		});
	}
</script>
<script>
	$(document).ready(function() {
		if ("{{request.session.userinvaild}}"){
			$(".userlogin").click();	
		} 
		if ("{{request.session.mobileexistsalready}}"){
			$("#logintab").removeClass("active");
			$("#signuptab").addClass("active");
			$(".userlogin").click();
		}
		if ("{{request.session.mobiledoesnotexistforgot}}") {
			$("#logintab").removeClass("active");
			$("#forgotpasswordtab").addClass("active");
			$(".userlogin").click();
		}
		if ("{{request.session.userisblocked}}"){
			$(".userlogin").click();
		}
	});
	removeerrors();
	function removeerrors(){
		$.get('/removeerrors/',function(data){

		})
	}
	// removeoffererror();
	// function removeoffererror(){
	// 	$.get('/removeoffererror/',function(data){

	// 	})
	// }			
</script>
{%endblock mainbody%}
	<!--https://api.myjson.com/bins/2d7ky-->