{% extends "app/customerend_base.html" %}
{% load harishtags %}
{%load staticfiles%}
{%block title%}LHDINDIA | LAZEEZ HAKEEM{%endblock title%}
{%block mainbody%}

<div class="container" style="min-height:500px;">
	<div class="row text-center" style="padding-top:40px;">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h2><b> Are you Really want to cancel this order </b></h2>
			<br>
			<a href="/order_cancel_by_customer/{{order_number}}/" class="btn btn-success">confirm</a>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>

{% endblock %}