{% extends "app/baseadmin.html" %}
{% load harishtags %}
{%block title%}LHDINDIA | LAZEEZ HAKEEM{%endblock title%}
{%block content%}
	<div class = "navbar navbar-inverse navbar-static-top" style="background-color:#10462f;">
		{% include "app/adminnavbar.html" %}
	</div><br>
	<div class = "container" style="width:100%">
	

	<!--For Order Printing -->
		<div id="printableArea" style="width:100%;">
		    <div class="row table-responsive" style="margin-left: 5px;">
				<table class = "table table-bordered" border="1 px" style="margin-bottom:0px;">
					<tbody>
						<tr>
							<td style="width:50%;">
								<b>LAZEEZ HAKEEM DELIVERY</b><br/>
								Bhopal, Madhya Pradesh, India<br/>
								0755 6222227<br/>
								support@lhdindia.com<br/>
								<b>Service Tax No.:</b>AAUPH6905KSD001<br/>
								<b>VAT No.:</b>23864007086
							</td>
							<td style="width:50%;">
								<b>BUYER</b><br/>
								{{order.customer_name}}<br/>
								{{order.customer_mobile}}<br/>
								{{order.address}}<br/>
								({{order.special_comment}})<br>
								<b>Payment Mode :</b>{{order.payment_mode}}<br>
								{% if 'lastdelboy_info' in request.session %}
								<b>Last Delivery Boy:</b> {{request.session.lastdelboy_info}}
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered" border="1 px">
					<tbody>
						<tr>
							<td>
								<img src="https://api.qrserver.com/v1/create-qr-code/?data={{order.order_number}}&amp;size=100x100" alt="" title="" />
							</td>
							<td>
								<b>Order No. :</b>{{order.order_number}}<br/>
								<b>Date :</b>{{order.placed_at}}<br>
							</td>
							<td>
								<b>Del. Type :</b>{{order.delivery_type}}<br/>
								<b>Del. Date :</b>{{order.delivered_at|default_if_none:order.expected_at}}<br>
							</td>
						</tr>
						<!-- <tr>
							<td>
								<b>ORDER</b><br>
								<b>Status :</b> {{order.order_status}}<br>
								<b>Status Change (By/On) :</b> <br>
								<b>Source :</b> {{order.source}}<br>
								<b>Ref. Number :</b>
							</td>
							<td>
								<b>Branch :</b> {{order.branch_assigned}}<br>
								<b>Assigned (By/On) :</b> abc/{{branch_assigned_at}}<br>
								<b>Accepted (By/On) :</b> {{order.accepted_by}}/{{order.accepted_at|default_if_none:""}}<br>
								<b>Payment Mode :</b>{{order.payment_mode}} <br>
								<b>Delivery Boy :</b>{{order.dispatched_with}}
							</td>
						</tr> -->
					</tbody>
				</table>
			</div>

			<!--Item description-->
			<div class="row" style="margin-left: 5px;">
				<table class = "table table-bordered iteminfo">
					<thead class="jumbotron">
						<tr>
							<th>S.No.</th>
							<th>Item Description</th>
							<th>Quantity</th>
							<th>Price</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						{% if order.offer_from_web == "True" %}
							{%for key1,value1 in request.session.cart.items%}
								{%if key1 != 'totalcost'%}
										{%for k,v in value1.items%}
										{%if k != 'name'%}
										<tr>
											<td></td>
											<td>{{v.name}}-{{v.subname}}</td>
											<td>{{v.quantity}}</td>
											<td>{{v.price_actual}}</td>
											<td>{% widthratio v.quantity 1 v.price_actual|add:"0" %}</td>
										</tr>
										{%endif%}
										{%endfor%}
								{%endif%}
							{%endfor%}
						{% else %}
							{%for key1,value1 in request.session.cart.items%}
								{%if key1 != 'totalcost'%}
										{%for k,v in value1.items%}
										{%if k != 'name'%}
										<tr>
											<td></td>
											<td>{{v.name}}-{{v.subname}}</td>
											<td>{{v.quantity}}</td>
											<td>{{v.price}}</td>
											<td>{% widthratio v.quantity 1 v.price|add:"0" %}</td>
										</tr>
										{%endif%}
										{%endfor%}
								{%endif%}
							{%endfor%}
						{% endif %}
					</tbody>
					<tfoot class="jumbotron">
						<tr>
							<td colspan="2">Sub Total</td>
							<td></td>
							<td></td>
							<td colspan="2">{{order.subtotal}}</td>
						</tr>
					</tfoot>
				</table>
				<style type="text/css">
					tbody
					{
					    counter-reset: Serial;           /* Set the Serial counter to 0 */
					}
					.iteminfo tbody tr td:first-child:before
					{
					  counter-increment: Serial;      /* Increment the Serial counter */
					  content: counter(Serial); /* Display the counter */
					}
				</style>
			</div>
			<!--cart info-->
			<div class="row" style="margin-left: 5px;">
				<label>Order Summary</label>
				<div class="table-responsive">
					<table class = "table table-bordered">
						<thead>
							<tr>
								<th colspan="3">Sub Total</th>
								<th>{{order.subtotal}}</th>
							</tr>
						</thead>
						<tbody>
							{% if order.discount_percent|add:"0" > 0 %}
							<tr>
								<td>Discount(%)</td>
								<td>{{order.discount_percent|floatformat:"2"}}</td>
								<td>Discount(Rs)</td>
								<td>{{order.discount_rs|floatformat:"2"}}</td>
							</tr>
							{% endif %}
							{% if order.service_tax_percent|add:"0" > 0 %}
							<tr>
								<td>Service Tax(%)</td>
								<td>{{order.service_tax_percent}}</td>
								<td>Service Tax(Rs)</td>
								<td>{{order.service_tax_rs}}</td>
							</tr>
							{% endif %}
							{% if order.vat_percent|add:"0" > 0 %}
							<tr>
								<td>VAT(%)</td>
								<td>{{order.vat_percent|floatformat:"2"}}</td>
								<td>VAT(Rs)</td>
								<td>{{order.vat_rs|floatformat:"2"}}</td>
							</tr>
							{% endif %}
							{% if order.service_charge_percent|add:"0" > 0 %}
							<tr>
								<td>Service Charge(%)</td>
								<td>{{order.service_charge_percent}}</td>
								<td>Service Charge(Rs)</td>
								<td>{{order.service_charge_rs}}</td>
							</tr>
							{% endif %}
							{% if order.delivery_charge|add:"0" > 0 %}
								<tr>
									<td colspan="3">Delivery Charge</td>
									<td>{{order.delivery_charge}}</td>
								</tr>
							{%endif%}
							{% if order.e_wallet|add:"0" > 0 %}
							<tr>
								<td colspan="2"></td>
								<td>e-Wallet</td>
								<td>{{order.e_wallet}}</td>
							</tr>
							{% endif %}
						</tbody>
						<tfoot>
							<tr>
								<th colspan="3">Grand Total</th>
								<th>₹ {{order.grand_total|floatformat:"2"}}</th>
							</tr>
							<tr>
								<th colspan="3">Grand Total (Rounded Off)</th>
								<th>₹ {{order.grand_total|floatformat:"0"}}</th>
							</tr>
							{% if order.advance_pay > 0 %}
							<tr>
								<td colspan="3">Advance Amount</td>
								<td>{{order.advance_pay}}</td>
							</tr>
							<tr>
								<td colspan="3">Balance Amount</td>
								<td>{{order.balance_amount}}</td>
							</tr>
							{% endif %}
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<style type="text/css" media="print">
			#printableArea table tr td {
			  font-size: 1em;
			}
			#printableArea table tr th {
			  font-size: 1em;
			}
		</style>
	<!--End of For Order Printing-->

	</div>
{%endblock content%}