{% extends "app/customerend_base.html" %}
{%load staticfiles%}
{%block title%}LHDINDIA | LAZEEZ HAKEEM{%endblock title%}
{%block mainbody%}

<div class="container" style="min-height:490px;">
	<h3 align="center"><b>OUR TEAM IS OUR STRENGTH</b></h3><br>
	<div class="row">
		<div class="col-sm-6 text-center">
			<h4><i>To help us serve you...</i></h4>
			<img src="/static/app/img/team.jpg" style="width:80%;height:80%;"><br><br>
			<p>To help us serve you, we have a team of over 50 experts who are always ready to go a step further in bringing 
				the best to you. LHDINDIA (or Lazeez Hakeem) is not just a name but a team who find happiness in serving people.
			</p>
		</div>
		<div class="col-sm-6 text-center">
			<h4><i>To enhance how we serve you...</i></h4>
			<a href="http://www.enablelive.com" target="_blank">
				<img src="/static/app/img/logopng.png" style="width:60%;height:60%;margin-top:50px;"><br><br>
			</a>
			<p>To enhance how we serve you, LHDINDIA is leveraging the upcoming and latest technology by teaming up with ENABLE LIVE. We understand how technology can be used to enhance customer experience in this fast paced world. We are leaving no stone unturned in using technology for maximizing the same for our customers.</p>
		</div>
	</div>
</div>


{%endblock mainbody%}